<?xml version="1.0" encoding="UTF-8"?>
<plugin title='Sample plugin xml for jaxrs-adapter-plugin' name="jaxrs">
	<content-generator id="jaxrs" title="fa la la la la, la la la la" type="notused" class="org.pentaho.plugin.jaxrs.UglyJaxRSAdapter"/>
	<bean id="jaxrsPluginServlet" class="org.pentaho.plugin.jaxrs.JAXRSPluginServlet" />
</plugin>